/* Azeret Mono Fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Global styles */
* {
    margin: 0, auto;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
    background: rgb(255, 255, 255);
}

/* Header > Nav styles */
.nav-container {
    margin: 32px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .title {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    text-align: left;
}

.nav-container .btn {
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

/* banner image section styles start here */

#banner-bg-img {
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 652px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 26px 221px 45px;
}

#banner-bg-img .banner-container .coder-image {
    margin-top: 26px;
}

#banner-bg-img .banner-container .banner-title {
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
}

#banner-bg-img .banner-container .banner-description {
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.banner-contact-btn button {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 244px;
    height: 65px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    margin-top: 32px;
}

/* Why Web Development section styles start here */
.web-development-container {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 74px 150px 0px;
    padding: 80px 97px;
}

.why-web-dev {
    padding: 0px 47px;
    /* text-align: center; */
}

.why-web-dev .why-web-dev-title,
.inspiration-title,
.ct-title, .nt-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.content-section-description,
.inspiration-desc,
.ct-description, .nt-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    text-align-last: center;

}

.content-section {
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 48px;
}

.content-section-text {
    align-items: start;
    /* margin-right: 98px; */
    width: 477px;
    height: auto;
}

.content-section-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.content-section-desc {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.lm-btn button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12PX 20PX;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.content-section-text-left {
    align-items: start;
    width: 477px;
    height: auto;
    margin: 0px 101px 25px 0px;
}

/* inspiration section styles start here */
.inspiration {
    margin: 90px 150px 150px;

}

.inspiration-content,
.ct-content, .nt-content {
    padding-left: 144px;
    padding-right: 144px;
    margin-bottom: 48px;
}

yt-video {
    border: 1px solid rgba(13, 19, 33, 0.2);
    padding: 32px;
    border-radius: 16px;

}

.yt-video {
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    margin-top: 48px;
    height: 550px;
    /* width: 1140px;  */
}

.yt-video iframe {
    border-radius: 16px;
    height: 100%;
    width: 100%;
}

/* Current target styles start here */
.ct-container, .nt-container {
    margin: 150px 150px 100px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 48px;
}

.skills-box {
    border: 1px;
    border-radius: 16px;
    padding: 40px;
    background: rgba(255, 76, 30, 0.05);
    width: 365px;
}

.bg-color1 {
    background: rgba(0, 76, 232, 0.05);
}

.bg-color2 {
    background: rgba(255, 223, 0, 0.05);
}

.skill {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}

.skill-desc {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.lm {
    margin-top: 20px;
}

.lm a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
}

/* I need support section styles start here */
.need-support-container {
    margin: 50px 150px 80px;
    background-image: linear-gradient(180deg, rgb(16, 16, 16) -19.5%,
            rgb(16, 16, 16, 0) 100%),
        url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    /* width: 1200px;
    height: 313px; */
}

.support-content {
    padding: 64px 48px;
}

.support-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.support-desc {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-left: 219px;
    margin-right: 219px;
}

.inpt-sub {
    margin: 0px 180px;
}

.inpt-sub input[type="text"] {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px;
    width: 548px;
    height: 57px;
}

input::placeholder {
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.inpt-sub input[type="submit"] {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 57px;

    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* Footer styles start here */
.footer-container {
    /* background: lightgoldenrodyellow; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px 32px 150px;
    /* width: 1440px;
    height: 100px; */
    background: rgba(13, 19, 33, 0.03);
    border-radius: 16px;
}

.footer-text {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.footer-social-icons a {
    margin-left: 10px;
}

/* Next target section styles start here */
.next-skills {
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;

}

.skill-desc-content{
    margin-left: 10px;
}